/* EDIT BELOW THIS LINE */

/* Add styles for section-1 */

.section-1{
    box-sizing: border-box;
    display: flex;
    height: 200px;
}


.section-1 > .flex-item:first-child {
    flex-grow: 2;
}

.section-1 > .flex-item:nth-child(2) { 
    flex-grow: 1;

}
.section-1 > .flex-item:nth-child(3) { 
    flex-grow: 2;

}
.section-1 > .flex-item:nth-child(4) { 
    flex-grow: 1;

}
.section-1 > .flex-item:nth-child(5) { 
    flex-grow: 2;

}


.section-1 > .flex-item{
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Add styles for section-2 */

.section-2{
    box-sizing: border-box;
    display: flex;
    flex-direction: column-reverse;
    /*min max content*/
}

.section-2 > .flex-item:first-child {
    width: 50%;
    flex-basis: 100%;
}

.section-2 > .flex-item:last-child {
    width: 50%;
    flex-basis: 100%;
    align-self: flex-end;
}

/* Add styles for section-3 */

.section-3{
    box-sizing: border-box;
    display: grid;
    grid-template-columns: [col1] auto [col2] auto [col3] auto [col4] auto;
    grid-template-rows: [row1] auto [row2] auto [row2e];
    grid-auto-flow: row;
    
}

.section-3 > .flex-item:first-child {
    grid-column: col1 / col2;
    grid-row: row1 / row2e;
}

.section-3 > .flex-item:last-child {
    grid-column: col4 ;
    grid-row: row1 / row2e;
}

.section-3 > .flex-item:nth-child(2) { 
    grid-column: col2 ;
    grid-row: row1;
}
.section-3 > .flex-item:nth-child(3) { 
    grid-column: col2 ;
    grid-row: row2;
}
.section-3 > .flex-item:nth-child(4) { 
    grid-column: col3 ;
    grid-row: row1;
}
.section-3 > .flex-item:nth-child(5) { 
    grid-column: col3 ;
    grid-row: row2;
}



/* Add styles for section-4 */

.section-4{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.section-4 > .flex-item {
    height: 60px;
    width: 100px;
}


/* Add styles for section-5 */t

/* Add styles for section-6 */

/* Add styles for section-7 */

/* Add styles for section-8 */
