/* EDIT BELOW THIS LINE */

/* Add styles for section-1 */

.section-1{
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 2fr 1fr 2fr 1fr 2fr;
    grid-template-rows: 200px;
}

.section-1 > .flex-item{
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Add styles for section-2 */

.section-2{
    box-sizing: border-box;
    display: flex;
    flex-direction: column-reverse;
    /*min max content*/
}

.section-2 > .flex-item:first-child {
    width: 50%;
    flex-basis: 100%;
}

.section-2 > .flex-item:last-child {
    width: 50%;
    flex-basis: 100%;
    align-self: flex-end;
}

/* Add styles for section-3 */

/* Add styles for section-4 */

/* Add styles for section-5 */

/* Add styles for section-6 */

/* Add styles for section-7 */

/* Add styles for section-8 */
