/* EDIT BELOW THIS LINE */

/* Add styles for section-1 */

.section-1{
    box-sizing: border-box;
    display: flex;
    height: 200px;
}


.section-1 > .flex-item:nth-child(odd) {
    flex-grow: 2;
}

.section-1 > .flex-item:nth-child(even) { 
    flex-grow: 1;
}

.section-1 > .flex-item{
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Add styles for section-2 */

.section-2{
    box-sizing: border-box;
    display: flex;
    flex-direction: column-reverse;
    /*min max content*/
}

.section-2 > .flex-item:first-child {
    width: 50%;
    flex-basis: 100%;
}

.section-2 > .flex-item:last-child {
    width: 50%;
    flex-basis: 100%;
    align-self: flex-end;
}

/* Add styles for section-3 */

.section-3 {  
    display: flex;  
    flex-direction: column;  
    flex-wrap: wrap;  
 }  
  
 .section-3 > .flex-item {  
   flex-basis: 50% 
 }
  
 .section-3 > .flex-item:first-child {  
    flex-basis: 100% 
 }

 .section-3 > .flex-item:last-child {  
    flex-basis: 100% 
 }

/* Add styles for section-4 */

.section-4{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.section-4 > .flex-item {
    height: 60px;
    width: 100px;
}

/* Add styles for section-5 */

.section-5 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column wrap-reverse;
    align-content: stretch;
    flex-direction: column-reverse;
}


.section-5 > .flex-item:first-child {
    order: 10;
}

.section-5 > .flex-item:last-child { 
    order: 1;
}

/* Add styles for section-6 */

.section-6 {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    flex-flow: row wrap-reverse;
    align-content: stretch;
    flex-direction: row-reverse;
}

/* Add styles for section-7 */

.section-7 {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column wrap-reverse;
    flex-direction: column;
}

.section-7 > .carebear-blue {
    align-self: flex-start;
    order: 3;
    flex-grow: 2;
}

.section-7 > .carebear-green {
    align-self: flex-start;
    order: 2;
    flex-grow: 2;
}

.section-7 > .carebear-red {
    align-self: flex-start;
    order: 1;
    flex-grow: 2;
}

.section-7 > .carebear-pink {
    align-self: flex-end;
    order: 5;
}

.section-7 > .carebear-yellow {
    align-self: flex-start;
    order: 4;
    flex-grow: 2;
}

/* Add styles for section-8 */

.section-8 { 
    display: flex; 
    flex-flow: column-reverse; 
    flex-wrap: wrap-reverse; 
} 
 
.section-8 > .flex-item:first-child { 
    flex: 1 0 100%; 
    flex-basis: 100%;
    order: 6;
} 

.flex-item:last-child {
    order: 1;
}
 
.section-8 > .flex-item:nth-child(n + 1) { 
   flex: 1 0 20%; 
}